<div class='scroll-paging-page' style={{html-safe heightStyle}}
    {{check-viewport 
        onEnterViewport=(action 'enterViewport')
        onExitViewport=(action (mut visible) false)
        enabled=true
    }}
    {{check-size
        enabled=visible
        onHeightChanged=(action 'setHeight')
    }}
    >
    {{#if visible}}
        {{#each items as |item|}}
            {{yield item}}
        {{else}}
            {{#each loadingItems as |li|}}
                {{yield to='inverse'}}
            {{/each}}
        {{/each}}
    {{/if}}
</div>
